<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Title</title>
</head>
<body>
<button class = "update" data-toggle = "modal" data-target = "#modal-update"
        style = "background:none;border:none;padding:0%" title = "modifier" data-id = "{{$patient -> id}}"
        data-name = "{{$patient -> name}}" data-surname = "{{$patient -> surname}}"
        data-birthdate = "{{$patient -> birthdate}}" data-gender = "{{$patient -> gender}}"
        data-adress = "{{$patient -> adress}}" data-number = "{{$patient -> number}}">
    <svg width = "20" height = "21" viewBox = "0 0 20 21" fill = "none" xmlns = "http://www.w3.org/2000/svg"
         style = "margin-left:10px">
        <path
            d = "M18.3134 0.797364C17.5214 -0.0131839 16.2305 -0.0131839 15.4385 0.797364L15.022 1.21606L18.6888 4.96283L19.0334 4.60855C19.4345 4.20059 19.6557 3.65844 19.6557 3.07334C19.6557 2.48824 19.4345 1.94609 19.0385 1.53813L18.3134 0.797364Z"
            fill = "#7D90B2" />
        <path d = "M13.1812 3.08965L16.848 6.8364L17.9537 5.71453L14.2869 1.96777L13.1812 3.08965Z" fill = "#7D90B2" />
        <path d = "M1.73828 14.743L0 20.2772L5.4154 18.4736L16.1125 7.58759L12.4456 3.84082L1.73828 14.743Z"
              fill = "#7D90B2" />
    </svg>
</button>

<div class = "modal fade" id = "modal-update">
    <div class = "modal-dialog modal-lg">
        <div class = "modal-content">
            <div class = "modal-header" style = "width:100%">
                <h4 style = "margin-left:15%; text-align: center; color:#555555">Modifier les informations personnelles
                                                                                 de patient </h4>
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                    <span aria-hidden = "true">&times;</span>
                </button>
            </div>
            <div class = "card-body">
                <div style = "width: 98%; margin-left:1%; margin-top:1%">
                    <form method = "POST" action = "{{route('updatePatient')}}" enctype = "multipart/form-data"
                          id = "formUpdate" class = "form-g">
                        @csrf
                        <input hidden name = "id" id = "idUpdate">

                        <div class = "form-c row">
                            <label for = "name" class = "col-sm-4 col-form-label" style = "color:#555555">Nom</label>
                            <div class = "col-sm-8">
                                <div>
                                    <input type = "text" class = "form-control" name = "name" id = "nameUpdate"
                                           placeholder = "Nom du patient">
                                    <i class = "fas fa-check-circle"></i>
                                    <i class = "fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                            </div>
                        </div>
                        <div class = "form-c row">
                            <label for = "surname" class = "col-sm-4 col-form-label"
                                   style = "color:#555555">Prénom</label>
                            <div class = "col-sm-8">
                                <div>
                                    <input type = "text" class = "form-control" name = "surname" id = "surnameUpdate"
                                           placeholder = "Prénom du patient">
                                    <i class = "fas fa-check-circle"></i>
                                    <i class = "fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                            </div>
                        </div>
                        <div class = "form-c row">
                            <label for = "birthday" class = "col-sm-4 col-form-label" style = "color:#555555">Date de
                                                                                                              naissance</label>
                            <div class = "col-sm-8">
                                <div>
                                    <input type = "date" class = "form-control" name = "birthdate"
                                           id = "birthdateUpdate" min = "1900-01-01">
                                    <small>Error message</small>
                                </div>
                            </div>
                        </div>
                        <div class = "form-c row">
                            <label for = "gender" class = "col-sm-4 col-form-label" style = "color:#555555">Sexe</label>
                            <div class = "col-sm-8">
                                <div>
                                    <select class = "form-control" name = "gender" id = "genderUpdate">
                                        <option value = "Homme">Homme</option>
                                        <option value = "Femme">Femme</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class = "form-c row">
                            <label for = "adress" class = "col-sm-4 col-form-label"
                                   style = "color:#555555">Adresse</label>
                            <div class = "col-sm-8">
                                <div>
                                    <input type = "text" class = "form-control" id = "adressUpdate" name = "adress"
                                           placeholder = "Adresse du patient">
                                    <i class = "fas fa-check-circle"></i>
                                    <i class = "fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                            </div>
                        </div>
                        <div class = "form-c row">
                            <label for = "number" class = "col-sm-4 col-form-label" style = "color:#555555">Numéro de
                                                                                                            téléphone</label>
                            <div class = "col-sm-8">
                                <div>
                                    <input required
                                           oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                           maxlength = "10" type = "number" class = "form-control" id = "numberUpdate"
                                           name = "number" placeholder = "Numéro de téléphone du patients">
                                    <i class = "fas fa-check-circle"></i>
                                    <i class = "fas fa-exclamation-circle"></i>
                                    <small>Error message</small>
                                </div>
                            </div>
                        </div>
                        <button type = "submit" class = "btn btn-block bg-gradient-primary"
                                style = "margin-left: 40%;margin-top:20px ; width: 120px;color: white">Enregistrer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const formUpdate = document.getElementById('formUpdate');
    const idUpdate = document.getElementById('idUpdate');
    const nameUpdate = document.getElementById('nameUpdate');
    const surnameUpdate = document.getElementById('surnameUpdate');
    const birthdateUpdate = document.getElementById('birthdateUpdate');
    const genderUpdate = document.getElementById('genderUpdate');
    const adressUpdate = document.getElementById('adressUpdate');
    const numberUpdate = document.getElementById('numberUpdate');
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("birthdateUpdate").setAttribute("max", today);

    const update = document.getElementsByClassName('update');
    const array = Array.from(update)

    // console.log(typeof update)
    array.forEach(element => {
        element.addEventListener('click', event => {
            const idValue = element.dataset.id;
            const nameValue = element.dataset.name;
            const surnameValue = element.dataset.surname;
            const birthdateValue = element.dataset.birthdate;
            const genderValue = element.dataset.gender;
            const adressValue = element.dataset.adress;
            const numberValue = element.dataset.number;
            console.log(idValue)
            idUpdate.value = idValue;
            nameUpdate.value = nameValue;
            surnameUpdate.value = surnameValue;
            birthdateUpdate.value = birthdateValue;
            genderUpdate.value = genderValue;
            adressUpdate.value = adressValue;
            numberUpdate.value = numberValue;
        })

    })

    formUpdate.addEventListener('submit', e => {
        e.preventDefault();

        checkInputsUpdate();
    });

    \\ validation

    function checkInputsUpdate() {
        const nameValue = nameUpdate.value.trim();
        const surnameValue = surnameUpdate.value.trim();
        const birthdateValue = birthdateUpdate.value.trim();
        const genderValue = genderUpdate.value.trim();
        const adressValue = adressUpdate.value.trim();
        const numberValue = numberUpdate.value.trim();
        var x = 0;

        array.forEach(element => {
            if (idUpdate.value == element.dataset.id) {
                if (nameValue == element.dataset.name && surnameValue == element.dataset.surname && birthdateValue == element.dataset.birthdate && genderValue == element.dataset.gender && adressValue == element.dataset.adress && numberValue == element.dataset.number) {
                    return x = x - 1;
                }
            }
        })

        if (nameValue.length < 3) {
            setErrorFor(nameUpdate, "Le nom doit contenir au moins 3 caractères");
        } else if (formatSpecial.test(nameValue)) {
            setErrorFor(nameUpdate, 'Le nom ne doit pas contenir des characters spécial');
        } else if (formatNumber.test(nameValue)) {
            setErrorFor(nameUpdate, 'Le nom ne doit pas contenir des chiffres');
        } else {
            setSuccessFor(nameUpdate);
            x = x + 1;
        }

        if (surnameValue.length < 3) {
            setErrorFor(surnameUpdate, "Le prénom doit contenir au moins 3 caractères");
        } else if (formatSpecial.test(surnameValue)) {
            setErrorFor(surnameAdd, 'Le prénom ne doit pas contenir des characters spécial');
        } else if (formatNumber.test(surnameValue)) {
            setErrorFor(surnameUpdate, 'Le prénom ne doit pas contenir des chiffres');
        } else {
            setSuccessFor(surnameUpdate);
            x = x + 1;
        }


        if (birthdateValue === '') {
            setErrorFor(birthdateUpdate, 'Date de naissance ne peut pas être vide');
        } else {
            setSuccessFor(birthdateUpdate);
            x = x + 1;
        }
        if (numberValue.length < 10) {
            setErrorFor(numberUpdate, "La longueur du numéro doit être 10");
        } else if (formatSpecial.test(numberValue)) {
            setErrorFor(numberUpdate, 'Le numéro ne doit pas contenir des characters spécial');
        } else {
            setSuccessFor(numberUpdate);
            x = x + 1;
        }
        if (x == 4) {
            formUpdate.submit();
        }

    }

</script>
</body>
</html>
